pkgbase = kcm-grub2-git
	pkgdesc = A KDE Control Module for configuring the GRUB2 bootloader
	pkgver = 0.6.4.r280.gef91a2a
	pkgrel = 1
	url = https://invent.kde.org/system/kcm-grub2
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = packagekit-qt6
	depends = grub
	depends = hwinfo
	depends = kcmutils
	depends = libmagick
	optdepends = os-prober: To detect other OSes when generating grub.cfg in BIOS systems
	optdepends = packagekit-qt6
	provides = grub2-editor-frameworks
	conflicts = grub2-editor-frameworks
	source = kcm-grub2::git+https://invent.kde.org/system/kcm-grub2.git#branch=work/nico/qt6
	sha256sums = SKIP

pkgname = kcm-grub2-git
